In [42]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.3.4)
Requirement already satisfied: numpy>=1.15 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.20.2)
Requirement already satisfied: scipy>=1.0 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: matplotlib>=2.2 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (3.5.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.6)
Requirement already satisfied: packaging>=20.0 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: setuptools-scm>=4 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (6.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (4.28.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: setuptools in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from setuptools-scm>=4->matplotlib>=2.2->seaborn) (49.2.1)
Requirement already satisfied: tomli>=1.0.0 in c:\users\bhuvnesh\appdata\local\programs\python\python39\lib\site-packages (from setuptools-scm>=4->matplotlib>=2.2->seaborn) (1.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\Bhuvnesh\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [43]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [44]:
df = pd.read_csv("melb_data.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [45]:
df.shape

(13580, 21)

In [46]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [47]:
fillzero = ["Car","CouncilArea"]
df[fillzero] = df[fillzero].fillna(0);

In [48]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea         0
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [49]:
df["BuildingArea"] = df["BuildingArea"].fillna(df.BuildingArea.mean())
df["YearBuilt"] = df["YearBuilt"].fillna(df.YearBuilt.mean())

In [50]:
df = pd.get_dummies(df,drop_first=True)
df.head()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,...,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,202.0,151.96765,1964.684217,...,0,1,0,0,1,0,0,0,0,0
1,2,1035000.0,2.5,3067.0,2.0,1.0,0.0,156.0,79.00000,1900.000000,...,0,1,0,0,1,0,0,0,0,0
2,3,1465000.0,2.5,3067.0,3.0,2.0,0.0,134.0,150.00000,1900.000000,...,0,1,0,0,1,0,0,0,0,0
3,3,850000.0,2.5,3067.0,3.0,2.0,1.0,94.0,151.96765,1964.684217,...,0,1,0,0,1,0,0,0,0,0
4,4,1600000.0,2.5,3067.0,3.0,1.0,2.0,120.0,142.00000,2014.000000,...,0,1,0,0,1,0,0,0,0,0

In [51]:
X = df.drop('Price' , axis=1)
Y = df['Price']

In [52]:
Y.shape

(13580,)

In [53]:
X.shape

(13580, 14072)

In [54]:
from sklearn.model_selection import train_test_split
train_X ,test_X,train_y,test_y = train_test_split(X,Y,test_size=.4,random_state=2)

In [55]:
from sklearn.linear_model import LinearRegression

In [56]:
reg = LinearRegression().fit(train_X,train_y)

In [59]:
reg.score(test_X,test_y)

-563273.7128290721